{% extends 'layout.html.twig' %}

{% block title %} Главная {% endblock %}

{% block header %}

    {% include 'parts/slider.html.twig' %}
    {% include 'parts/right-bar.html.twig' %}

{% endblock %}

{% block body %}

    {% include 'parts/sticky-bar.html.twig' %}

    <div id="content">
        <div class="bbit" id="bodycont">
            {% include 'parts/spot-bit.html.twig' %}
        </div>

        {% if more %}
            <div>
                <div id="loader" style="display:none;width:700px;text-align:center;">
                    <img src="{{ asset('images/loader.svg') }}" alt="Загрузка" width="70" height="70">
                </div>
                <input type="button" value="Загрузить ещё" id="loadmore" class="loadmore">
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if category is defined %}
        {% set path = path('ajax_category', { id: category.id }) %}
    {% else %}
        {% set path = path('ajax_index') %}
    {% endif %}

    <script type="text/javascript" charset="utf-8">
        jQuery(document).ready(function($) {
            var page = 2;
            $("#loadmore").click(function() {
                $('#loadmore').hide();
                $('#loader').show();
                $.ajax({
                    url: '{{ path }}',
                    method: 'POST',
                    data: {'page' : page},
                    beforeSend: function() { inProgress = true;}
                }).done(function(data){
                    $("#bodycont").append(data.spots);
                    inProgress = false;
                    $('#loader').hide();
                    if (data.more) { $('#loadmore').show(); }
                    page += 1;
                });
            });
        });
    </script>

{% endblock %}