{% extends 'layout.html.twig' %}

{% block title %} Статья {% endblock %}

{% block body %}
    <h1>{{ spot }}</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    свой скрипт
{% endblock %}