{% extends 'layout.html.twig' %}

{% block title %}Объекты на которых я хочу побывать - Проект Трущобы{% endblock %}

{% block header %}
    <h1>Объекты на которых я хочу побывать</h1>
{% endblock %}

{% block body %}
    {% embed "parts/sticky-bar.html.twig" %}
        {% block spots_bit %}
            {% for spot in mostVisitedSpotsUserWill %}
                {% include 'parts/spot-preview.html.twig' %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
    <div id="content">
        <div class="bbit" id="bodycont">
            {% include 'parts/spot-bit.html.twig' %}
        </div>
        {% if more %}
            <div>
                <div id="loader" style="display:none;width:700px;text-align:center;">
                    <img src="{{ asset('images/loader.svg') }}" alt="Загрузка" width="70" height="70">
                </div>
                <input type="button" value="Загрузить ещё" id="loadmore" class="loadmore">
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf-8">
        jQuery(document).ready(function($) {
            var page = 2;
            $("#loadmore").click(function() {
                $('#loadmore').hide();
                $('#loader').show();
                $.ajax({
                    url: '{{ path('ajax_wish_list') }}',
                    method: 'POST',
                    data: {'page' : page},
                    beforeSend: function() { inProgress = true;}
                }).done(function(data){
                    $("#bodycont").append(data.spots);
                    inProgress = false;
                    $('#loader').hide();
                    if (data.more) { $('#loadmore').show(); }
                    page += 1;
                });
            });
        });
    </script>
{% endblock %}