<div class="obrightbar">
    <div class="obbar4">
        <label for="was">Я тут был</label>
        <input type="radio" name="radio-1" id="was" class="waswill" checked>
        <label for="will">Хочу побывать</label>
        <input type="radio" name="radio-1" id="will" class="waswill">
    </div>

    <div class="obbar1">
        <div class="obbar2" style="font-size:26px;">Адрес: {{ spot.address }} $addon</div>
        <div class="obbar3" style="font-size:26px;">{{ spot.howToGet }}</div>
    </div>

</div>