<div class="sl">
    <ul class="bxslider" style="padding:0;margin:0;">
        {% for photo in spot.photos %}
            <li>
                <a href="{{ asset('images/photos/' ~ photo.id ~ '.jpg') }}" class="fresco" data-fresco-group="spotgallery" data-fresco-group-options="loop:true,thumbnails:false" data-fresco-caption="{{ photo.description }}">
                    <img src="{{ asset('images/photos/' ~ photo.id ~ '-medium.jpg') }}" alt="" width="700" />
                </a>
            </li>
        {% endfor %}
    </ul>
</div>